{%extends "layout.html"%}
{%load static%}
{%block title%}Rent Job - İletişim{%endblock title%}

{%block body%}
<hr>
<h3 style="text-align: center;" class="text-info">İletişim</h3>
<hr>
<div class="text-center">
    <img src="{%static 'logo.png'%}" class="img-fluid" alt="logo">
</div>
<h5 style="font-style: italic; text-align: center">ADRES: Üsküdar / İstanbul</h5>
<h5 style="font-style: italic; text-align: center">E-Mail: rentjob@rentjob.com.tr</h5>
<h5 style="font-style: italic; text-align: center">GSM: 0555 555 5555</h5>
{%endblock body%}